.no-data-div {
  display: flex;

  img {
    width: 20vw;
    height: 20vw;
    margin: auto;
  }
}

.table-div {
  overflow: overlay;
  height: 30vw;
  width: 82%;
  margin: 2vw auto;

  table {
    width: 100%;
    opacity: 93%;
  }
}
