<app-input-form (newRecordAdded)="newRecordAdded($event)"></app-input-form>
<app-table (editRecordData)="editRecord($event)" (deleteRecordData)="deleteRecordData($event)">
</app-table>
<router-outlet></router-outlet>