mat-card {
  width: 80%;
  margin: auto;
  margin-top: 2vw;

  .input-form {
    display: flex;

    form {
      display: flex;
      justify-content: space-around;
      mat-form-field{
        margin: 0 0.3vw;
      }
    }

    .button-section {
      display: flex;
      justify-content: space-around;

      button {
        height: max-content;
        margin: 0.8vw 0.5vw;
        background: cornflowerblue;
      }
    }
  }
}
