<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{editDataId ? 'Update' : 'Add New' }} Record</mat-card-subtitle>
    </mat-card-header>
    <div class="input-form">
        <form [formGroup]="userForm">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter name..." formControlName='name' name='name' autocomplete="on">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type='email' placeholder="Enter email..." autocomplete="off" formControlName='email'
                    name='email'>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" placeholder="Enter phone no..." autocomplete="off" formControlName='phone'
                    name='phone'>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Enter user password..." autocomplete="off" formControlName='address'
                    name='address'>
            </mat-form-field>
        </form>
        <div class="button-section">
            <button mat-raised-button [disabled]="userForm.invalid" (click)="editDataId ? updateRecord() : addUser()">
                <mat-icon aria-label="Edit">add</mat-icon> {{editDataId ? "Update" : "Add"}}
            </button>
            <button mat-raised-button (click)="reset()">
                <mat-icon aria-label="Edit">restore</mat-icon> Reset
            </button>
        </div>
    </div>
</mat-card>