/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fff url('./assets/background.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  //   padding-top: 1vw;
}
